{#
# This file is part of SolidInvoice package.
#
# (c) Pierre du Plessis <open-source@solidworx.co>
#
# This source file is subject to the MIT license that is bundled
# with this source code in the file LICENSE.
#}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block content %}
    <div class="row">
        <aside class="col-12 col-md-4">
            {% include '@SolidInvoiceUser/Layout/_partial/nav.html.twig' with {menuItem} %}
        </aside>
        <section class="col-12 col-md-8">
            {% block profile_content %}
            {% endblock profile_content %}
        </section>
    </div>
{% endblock content %}
