{% block date_range_widget %}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.start) }}
        </div>
        <div class="col-6">
            {{ form_row(form.end) }}
        </div>
    </div>
{% endblock date_range_widget %}
