{# This component is now primarily used for LiveActions (revoke) called from the DataGrid #}
{# The actual token list is rendered via the DataGrid component in the main template #}
<div {{ attributes }}>
    {% include "@SolidInvoiceCore/flash.html.twig" %}
</div>
